# Python auto generated directories
*__pycache__*

# vsCode config
.vscode/

# Files containing all credentials
Framework/files/account*

# File containing future updates
Framework/files/notes.txt

# File containing logs
Framework/files/execution.log
